body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b0a8d8;
}

nav {
  background-color: #150A4F; /* Celeste */
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;
  left: -15px;
}

nav button {
  background-color: #337ab7; /* Tono más oscuro de celeste */
  border: none;
  color: white;
  padding: 20px 15px;  /* Ajusta el espaciado aquí */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background-color: #2e6da4; /* Tono más oscuro de celeste al pasar el ratón */
}

.home-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; /* Ajusta el margen superior para evitar que se superponga con la barra de navegación */
  padding: 25px; /* Agregado para eliminar el espacio a la izquierda */
}

.auth-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 10px; /* Espaciado entre el contenedor de autenticación y el siguiente */
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box p {
  margin: 10px 0;
}

.auth-box a {
  display: block;
  margin-top: 10px;
  background-color: #337ab7; /* Tono más oscuro de celeste */
  color: white;
  padding: 10px 15px;  /* Ajusta el espaciado aquí */
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-box a:hover {
  background-color: #2e6da4; /* Tono más oscuro de celeste al pasar el ratón */
}

.auth-container {
  width: 200px; /* Puedes ajustar el ancho según tus preferencias */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.auth-container h2 {
  margin-bottom: 10px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container label {
  margin-bottom: 5px;
}

.auth-container input {
  margin-bottom: 10px;
}

.auth-container button {
  width: 100%;
  background-color: #150A4F;
  color: white;
}
/* ... Otros estilos ... */

.uv-map-container {
  /* Estilos para el contenedor de UVIndexMap, como se definió anteriormente */
  margin-right: 10px; /* Espaciado entre el contenedor de mapa y el siguiente */

}

.uv-advice-container {
  width: 200px; /* Puedes ajustar el ancho según tus preferencias */
  height: 250px;
  padding: 10px;
  border: 1px solid #020202;
  border-radius: 5px;
  background-color: #a4b9f0df;

}


.radiation-info-container {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  float: right;
  
}

.radiation-bar {
  height: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.advice-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* Ajusta la cantidad de espacio vertical según tus preferencias */
}

.radiation-container {
  margin-top: 10px; /* Ajusta la cantidad de espacio vertical según tus preferencias */
}